<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CDatos.Properties.Settings.ConexionLocal" connectionString="server=localhost;user id=Pinii;password=hola12;persistsecurityinfo=True;database=tuttifrutti"
            providerName="MySql.Data.MySqlClient" />
        <add name="CDatos.Properties.Settings.ConexionOnline" connectionString="Data Source=tuttifruttifede.database.windows.net;Initial Catalog=TuttiFruttiDB;User ID=FedeA;Password=!daredevils12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>